<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mengyirunian.mapper.ResourceExtMapper">

    <insert id="batchSave" parameterType="java.util.Map">
        INSERT INTO resource (
          service_name,
          service_code,
          func_parent,
          func_parent_name,
          func_action,
          func_action_name,
          func_type,
          valid,
          create_at,
          update_at
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
              #{item.serviceName},
              #{item.serviceCode},
              #{item.funcParent},
              #{item.funcParentName},
              #{item.funcAction},
              #{item.funcActionName},
              #{item.funcType},
              #{item.valid},
              #{item.createAt},
              #{item.updateAt}
            )
        </foreach>
    </insert>

</mapper>